<doctype html="">
  <head>
    {% if cam.camera == 'rpi' %}
      {% import 'camera_pi.html' as cam_html %}
    {% else %}
      {% import 'camera_none.html' as cam_html %}
    {% endif %}
    
    <title>Open Microfluidics Station</title>
    <!--meta http-equiv="refresh" content="2" /-->
    <h2>Open Microfluidics Station</h2>

    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
    <script type="text/javascript" charset="utf-8">
    //  var socket = io.connect('http://' + document.domain + ':' + location.port);
      {{ cam_html.js_functions( cam ) }}
      
      var socket = io();
      var strobe = {{strobe|tojson}}
      var heaters = {{heaters|tojson}}
      var flows = {{flows|tojson}}
      //var cam = {{cam|tojson}}
      
      function strobe_update_init()
      {
        $('#input_strobe_period_us').val( strobe.period_ns / 1000 );
        $('#input_strobe_wait_us').val( strobe.wait_ns / 1000 );
      }
      
      function strobe_update()
      {
        $('#strobe_enable').html( strobe.enable ? 'Enabled' : 'Disabled' );
        $('#btn_strobe_enable').html( strobe.enable ? 'Disable' : 'Enable' );
        
        $('#strobe_hold').html( strobe.hold ? 'On' : 'Off' );
        $('#btn_strobe_hold').html( strobe.hold ? 'Hold Off' : 'Hold On' );
        
        $('#strobe_period_us').html( strobe.period_ns / 1000 );
        $('#strobe_wait_us').html( strobe.wait_ns / 1000 );
        $('#strobe_cam_time_us').html( strobe.cam_read_time_us );
      }
      
      function heaters_update_init()
      {
        for ( var i=0; i<=3; i++ )
        {
          $('#input_heater'+(i+1)+'_temp_c_target').val( heaters[i].temp_c_target.toString() );
          $('#input_heater'+(i+1)+'_autotune_target_temp').val( heaters[i].autotune_target_temp.toString() );
          $('#input_heater'+(i+1)+'_stir_speed').val( heaters[i].stir_speed_target.toString() );
        }
      }
      
      function heaters_update()
      {
        for ( var i=0; i<=3; i++ )
        {
          $('#heater'+(i+1)+'_pid_enabled').html( heaters[i].pid_enabled ? "Enabled" : "Disabled" );
          $('#btn_heater'+(i+1)+'_pid_enabled').html( heaters[i].pid_enabled ? 'Disable' : 'Enable' );
          
          $('#heater'+(i+1)+'_autotune_status').html( heaters[i].autotune_status );
          $('#btn_heater'+(i+1)+'_autotune').html( heaters[i].autotuning ? 'Stop' : 'Start' );
          
          $('#heater'+(i+1)+'_stir_speed').html( heaters[i].stir_speed_text );
          $('#btn_heater'+(i+1)+'_stir').html( heaters[i].stir_enabled ? 'Stop' : 'Start' );
          
          $('#heater'+(i+1)+'_status').html( heaters[i].status );
          $('#heater'+(i+1)+'_temp_text').html( heaters[i].temp_text );
        }
      }
      
      function flows_update()
      {
        for ( var i=0; i<=3; i++ )
        {
          $('#flow'+(i+1)+'_status').html( flows[i].status );
          $('#flow'+(i+1)+'_pressure_mbar_text').html( flows[i].pressure_mbar_text );
        }
      }
      
      $(document).ready(function() {
        {{ cam_html.js_doc_ready() }}
        
        strobe_update_init();
        heaters_update_init();
        strobe_update();
        heaters_update();
        flows_update();
        
        socket.on( 'connect', function() {
          console.log( 'Websocket connected!' );
        });
        socket.on('disconnect', function(){
          console.log( 'Websocket connection lost!' );
        });
        socket.on( 'reload', function( data ) {
//          $('#select_camera').val( data.camera )
          location.reload( true )
        });
        socket.on( 'debug', function( data ) {
          $('#update_count').html( data.update_count );
        });
        socket.on( 'heaters', function( data ) {
          heaters = data;
          heaters_update();
        });
        socket.on( 'strobe', function( data ) {
          strobe = data;
          strobe_update();
        });
        socket.on( 'flows', function( data ) {
          flows = data;
          flows_update();
        });
      });
      
      function cam_select() {
        socket.emit( 'cam', { cmd: 'select', parameters: { 'camera': $('#select_camera').val() } } );
      }
      function strobe_enable() {
        socket.emit( 'strobe', { cmd: 'enable', parameters: { 'on': strobe.enable ? 0 : 1 } } );
      }
      function strobe_hold() {
        socket.emit( 'strobe', { cmd: 'hold', parameters: { 'on': strobe.hold ? 0 : 1 } } );
      }
      function strobe_wait() {
        socket.emit( 'strobe', { cmd: 'timing', parameters: { 'wait_ns': ( $('#input_strobe_wait_us').val() * 1000 ), 'period_ns': strobe.period_ns } } );
      }
      function strobe_period() {
        socket.emit( 'strobe', { cmd: 'timing', parameters: { 'wait_ns': strobe.wait_ns, 'period_ns': ( $('#input_strobe_period_us').val() * 1000 ) } } );
      }
      function heater_temp_c_target( index ) {
        socket.emit( 'heater', { cmd: 'temp_c_target', parameters: { 'index': index, 'temp_c_target': ( $('#input_heater'+(index+1)+'_temp_c_target').val() ) } } );
      }
      function heater_pid_enable( index ) {
        socket.emit( 'heater', { cmd: 'pid_enable', parameters: { 'index': index, 'on': !heaters[index].pid_enabled } } );
      }
      function heater_autotune( index ) {
        socket.emit( 'heater', { cmd: 'autotune', parameters: { 'index': index, 'on': !heaters[index].autotuning, 'temp': ( $('#input_heater'+(index+1)+'_autotune_target_temp').val() ) } } );
      }
      function heater_stir( index ) {
        socket.emit( 'heater', { cmd: 'stir', parameters: { 'index': index, 'on': !heaters[index].stir_enabled, 'speed': ( $('#input_heater'+(index+1)+'_stir_speed').val() ) } } );
      }
      function flow_pressure_mbar_target( index ) {
        socket.emit( 'flow', { cmd: 'stir', parameters: { 'index': index, 'on': !heaters[index].stir_enabled, 'speed': ( $('#input_heater'+(index+1)+'_stir_speed').val() ) } } );
      }
    </script>
  </head>

  <body>
    <p></p><p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        </p><ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <p>Update Count: <a id='update_count'>{{debug.update_count}}</a></p>

    <h3>Camera</h3>
    <!--<p>Camera: {{cam.camera}}</p>-->
    <select id="select_camera" onchange="cam_select()">
      <option value="none">None</option>
      <option value="rpi"{% if cam.camera == "rpi" %} selected{%endif%}>RPI</option>
    </select>    
    {{ cam_html.html() }}
    
    <h3>Strobe</h3>
    <table style="border: 1px solid black; padding: 10px" cellpadding="2px">
      <tr>
        <td width=150>Enabled</td>
        <td width=100><p id='strobe_enable'></p></td>
        <td></td>
        <td><button id='btn_strobe_enable', onclick="strobe_enable()", style="width: 100px"></button></td>
      </tr>
      <tr>
        <td>Hold</td>
        <td><p id='strobe_hold'></p></td>
        <td></td>
        <td><button id='btn_strobe_hold', onclick="strobe_hold()", style="width: 100px"></button></td>
      </tr>
      <tr>
        <td>Wait (us)</td>
        <td><p id='strobe_wait_us'></p></td>
        <td><input type="number" id="input_strobe_wait_us" min="0" max="10000"></td>
        <td><button id='btn_strobe_wait_us', onclick="strobe_wait()", style="width: 100px">Set</button></td>
      </tr>
      <tr>
        <td>Period (us)</td>
        <td><p id='strobe_period_us'></p></td>
        <td><input type="number" id="input_strobe_period_us" min="1" max="10000"></td>
        <td><button id='btn_strobe_period_us', onclick="strobe_period()", style="width: 100px">Set</button></td>
      </tr>
      <tr>
        <td>Cam Read Time (us)</td>
        <td><p id='strobe_cam_time_us'></p></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    {% for heater in heaters %}
      <h3>Heater {{loop.index}}</h3>
      <table style="border: 1px solid black; padding: 10px" cellpadding="2px">
        <tr>
          <td width=150>Status</td>
          <td width=100><p id='heater{{loop.index}}_status'></p></td>
        </tr>
        <tr>
          <td>PID Enabled</td>
          <td><p id='heater{{loop.index}}_pid_enabled'></p></td>
          <td></td>
          <td><button id='btn_heater{{loop.index}}_pid_enabled', onclick="heater_pid_enable({{loop.index-1}})", style="width: 100px">Set</button></td>
        </tr>
        <tr>
          <td>Temperature (degC)</td>
          <td><p id='heater{{loop.index}}_temp_text'></p></td>
          <td><input type="number" id="input_heater{{loop.index}}_temp_c_target" min="-50" max="100"></td>
          <td><button id='btn_heater{{loop.index}}_temp_c_target', onclick="heater_temp_c_target({{loop.index-1}})", style="width: 100px">Set</button></td>
        </tr>
        <tr>
          <td>Autotune Status</td>
          <td><p id='heater{{loop.index}}_autotune_status'></p></td>
          <td><input type="number" id="input_heater{{loop.index}}_autotune_target_temp" min="-50" max="100"></td>
          <td><button id='btn_heater{{loop.index}}_autotune', onclick="heater_autotune({{loop.index-1}})", style="width: 100px">Set</button></td>
        </tr>
        <tr>
          <td>Stir Speed</td>
          <td><p id='heater{{loop.index}}_stir_speed'></p></td>
          <td><input type="number" id="input_heater{{loop.index}}_stir_speed" min="0" max="100"></td>
          <td><button id='btn_heater{{loop.index}}_stir' onclick="heater_stir({{loop.index-1}})", style="width: 100px">Set</button></td>
        </tr>
      </table>
    {% endfor %}

    {% for flow in flows %}
      <h3>Flow {{loop.index}}</h3>
      <table style="border: 1px solid black; padding: 10px" cellpadding="2px">
        <tr>
          <td width=150>Status</td>
          <td width=100><p id='flow{{loop.index}}_status'></p></td>
        </tr>
        <tr>
          <td>Pressure (mbar)</td>
          <td><p id='flow{{loop.index}}_pressure_mbar_text'></p></td>
          <td><input type="number" id="input_flow{{loop.index}}_pressure_mbar_target" min="0" max="10000"></td>
          <td><button id='btn_flow{{loop.index}}_pressure_mbar_target', onclick="flow_pressure_mbar_target({{loop.index-1}})", style="width: 100px">Set</button></td>
        </tr>
      </table>
    {% endfor %}
  
  </body>

</doctype>