<doctype html="">
<title>Open Microfluidics Station</title>
<!--meta http-equiv="refresh" content="2" /-->
<h2>Open Microfluidics Station</h2>

<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
<script type="text/javascript" charset="utf-8">
//  var socket = io.connect('http://' + document.domain + ':' + location.port);
  var socket = io();
  var strobe = {{strobe|tojson}}
  
  function strobe_update_start()
  {
    $('#input_strobe_period_us').val( strobe.period_ns / 1000 );
  }
  
  function strobe_update()
  {
    $('#strobe_enable').html( strobe.enable ? 'Enabled' : 'Disabled' );
    $('#btn_strobe_enable').html( strobe.enable ? 'Disable' : 'Enable' );
    
    $('#strobe_hold').html( strobe.hold ? 'On' : 'Off' );
    $('#btn_strobe_hold').html( strobe.hold ? 'Turn Off' : 'Turn On' );
    
    $('#strobe_period_us').html( strobe.period_ns / 1000 );
  }
  
  $(document).ready(function() {
    strobe_update_start();
    strobe_update();
    
    socket.on('connect', function() {
      console.log('Websocket connected!');
    });
    socket.on('debug', function(data) {
      $('#update_count').html(data.update_count);
    });
    socket.on('heaters', function(data) {
      for ( var i=0; i<=3; i++ )
      {
        $('#heater'+(i+1)+'_status').html(data[i].status);
        $('#heater'+(i+1)+'_temp').html(data[i].temp_actual);
      }
    });
    socket.on( 'strobe', function( data ) {
      strobe = data;
      strobe_update();
    });
  });
  
  function strobe_enable() {
    socket.emit( 'strobe', { cmd: 'enable', parameters: { 'on': strobe.enable ? 0 : 1 } } );
  }
  function strobe_hold() {
    socket.emit( 'strobe', { cmd: 'hold', parameters: { 'on': strobe.hold ? 0 : 1 } } );
  }
</script>

<p></p><p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    </p><ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p>Update Count: <a id='update_count'>{{debug.update_count}}</a></p>

<h3>Strobe</h3>
<table>
  <tr>
    <td width=100>Enable</td>
    <td width=100><p id='strobe_enable'></p></td>
    <td></td>
    <td><button id='btn_strobe_enable', onclick="strobe_enable()"></button></td>
  </tr>
  <tr>
    <td>Hold</td>
    <td><p id='strobe_hold'></p></td>
    <td></td>
    <td><button id='btn_strobe_hold', onclick="strobe_hold()"></button></td>
  </tr>
  <tr>
    <td>Period (us)</td>
    <td><p id='strobe_period_us'></p></td>
    <td><input type="number" id="input_strobe_period_us" min="1" max="10000"></td>
    <td><button id='btn_strobe_period_us', onclick="strobe_hold()">Set</button></td>
  </tr>
</table>

{% for heater in heaters %}
  <h3>Heater {{loop.index}}</h3>
  <table>
    <tr>
      <td>Status</td>
      <td><p id='heater{{loop.index}}_status'>{{heater.status}}</p></td>
    </tr>
  <tr>
    <td>Temp</td>
    <td><p id='heater{{loop.index}}_status'>{{heater.temp_actual}}</p></td>
  </tr>
  </table>
{% endfor %}

</doctype>