{% macro js_functions( cam, strobe ) %}
  var strobe = {{strobe|tojson}}
  var cam = {{cam|tojson}}
  
  function strobe_update_init()
  {
    $('#input_strobe_period_us').val( strobe.period_ns / 1000 );
    $('#input_strobe_wait_us').val( strobe.wait_ns / 1000 );
  }
  
  function cam_update()
  {
    $('#strobe_enable').html( strobe.enable ? 'Enabled' : 'Disabled' );
    $('#btn_strobe_enable').html( strobe.enable ? 'Disable' : 'Enable' );
    
    $('#strobe_hold').html( strobe.hold ? 'On' : 'Off' );
    $('#btn_strobe_hold').html( strobe.hold ? 'Hold Off' : 'Hold On' );
    
    $('#strobe_period_us').html( strobe.period_ns / 1000 );
    $('#strobe_wait_us').html( strobe.wait_ns / 1000 );
    $('#strobe_cam_time_us').html( strobe.cam_read_time_us );
    
    $('#strobe_framerate').html( strobe.framerate );
    $('#btn_cam_snapshot').html( "Snapshot" );
    $('#btn_cam_optimize').html( "Optimize" );
  }
  
  function cam_select() {
    socket.emit( 'cam', { cmd: 'select', parameters: { 'camera': $('#select_camera').val() } } );
  }
  function strobe_enable() {
    socket.emit( 'strobe', { cmd: 'enable', parameters: { 'on': strobe.enable ? 0 : 1 } } );
  }
  function strobe_hold() {
    socket.emit( 'strobe', { cmd: 'hold', parameters: { 'on': strobe.hold ? 0 : 1 } } );
  }
  function strobe_wait() {
    socket.emit( 'strobe', { cmd: 'timing', parameters: { 'wait_ns': ( $('#input_strobe_wait_us').val() * 1000 ), 'period_ns': strobe.period_ns } } );
  }
  function strobe_period() {
    socket.emit( 'strobe', { cmd: 'timing', parameters: { 'wait_ns': strobe.wait_ns, 'period_ns': ( $('#input_strobe_period_us').val() * 1000 ) } } );
  }
  function cam_optimize()
  {
    socket.emit( 'cam', { cmd: 'optimize', parameters: {} } );
  }
  function cam_snapshot()
  {
    socket.emit( 'cam', { cmd: 'snapshot', parameters: {} } );
  }
{% endmacro %}

{% macro js_doc_ready() %}
  strobe_update_init();
  cam_update();
  
  socket.on( 'strobe', function( data ) {
    strobe = data;
    cam_update();
  });
  socket.on( 'cam', function( data ) {
    cam = data;
    cam_update();
  });
{% endmacro %}

{% macro html() %}
  <p><img src="{{ url_for('video') }}"></p>
  <table style="border: 1px solid black; padding: 10px" cellpadding="2px">
      <tr>
        <td width=150>Enabled</td>
        <td width=100><p id='strobe_enable'></p></td>
        <td></td>
        <td><button id='btn_strobe_enable', onclick="strobe_enable()", style="width: 100px"></button></td>
      </tr>
      <tr>
        <td>Hold</td>
        <td><p id='strobe_hold'></p></td>
        <td></td>
        <td><button id='btn_strobe_hold', onclick="strobe_hold()", style="width: 100px"></button></td>
      </tr>
<!--
      <tr>
        <td>Wait (us)</td>
        <td><p id='strobe_wait_us'></p></td>
        <td><input type="number" id="input_strobe_wait_us" min="0" max="10000"></td>
        <td><button id='btn_strobe_wait_us', onclick="strobe_wait()", style="width: 100px">Set</button></td>
      </tr>
-->
      <tr>
        <td>Period (us)</td>
        <td><p id='strobe_period_us'></p></td>
        <td><input type="number" id="input_strobe_period_us" min="1" max="10000"></td>
        <td><button id='btn_strobe_period_us', onclick="strobe_period()", style="width: 100px">Set</button></td>
      </tr>
      <tr>
        <td>Cam Read Time (us)</td>
        <td><p id='strobe_cam_time_us'></p></td>
        <td></td>
        <td></td>
      </tr>
    <tr>
      <td>Framerate</td>
      <td><p id='strobe_framerate'></p></td>
      <td></td>
      <td><button id='btn_cam_optimize', onclick="cam_optimize()", style="width: 100px"></button></td>
    </tr>
    <tr>
      <td>Snapshot</td>
      <td></td>
      <td></td>
      <td><button id='btn_cam_snapshot', onclick="cam_snapshot()", style="width: 100px"></button></td>
    </tr>
  </table>
{% endmacro %}
